[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Simon Sellar (UnCommitted)
[access "refs/for/refs/*"]
	read = group user/Simon Sellar (UnCommitted)
	push = group user/Simon Sellar (UnCommitted)
	label-Code-Review = -2..+2 group user/Simon Sellar (UnCommitted)
	label-Verified = -1..+1 group user/Simon Sellar (UnCommitted)
	rebase = group user/Simon Sellar (UnCommitted)
	removeReviewer = group user/Simon Sellar (UnCommitted)
	submit = group user/Simon Sellar (UnCommitted)
[access "refs/heads/*"]
	read = group user/Simon Sellar (UnCommitted)
	create = group user/Simon Sellar (UnCommitted)
	push = +force group user/Simon Sellar (UnCommitted)
	pushMerge = group user/Simon Sellar (UnCommitted)
[access "refs/tags/*"]
	push = +force group user/Simon Sellar (UnCommitted)
	pushTag = group user/Simon Sellar (UnCommitted)
	pushSignedTag = group user/Simon Sellar (UnCommitted)
